{% extends 'base.html'%}
{% block title %}
    Register
{% endblock %}
{% block body %}
    <div class="register">
        <div class="register__container _container_center">
            <form method="post" class="reg__form">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button class="form__btn" type="submit">Register</button></p>
            </form>
            <div class="social">
                <ul>
                    <li>
                        <a class="social_btn" href="{% url 'social:begin' 'google-oauth2' %}">Sign in with Google</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}